<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.chriniko.example.controller.HelloServlet</servlet-class>
        <init-param>
            <param-name>alive</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <listener>
        <listener-class>com.chriniko.example.listener.ApplicationListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ClassicWorkerServlet</servlet-name>
        <servlet-class>com.chriniko.example.controller.ClassicWorkerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClassicWorkerServlet</servlet-name>
        <url-pattern>/classic-worker</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>DummyFilter</filter-name>
        <filter-class>com.chriniko.example.interceptor.DummyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>DummyFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

</web-app>